/* LOGO FONT */ @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
/* BANNER FONT */ @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {     
   
    box-sizing: border-box;
    background-color: black;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.mainDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
    flex: 1 1 0%;


}

.banner-section-container {
    display: flex;
    flex-direction: column;

    align-items: stretch;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    flex-shrink: 0;
    margin: 0px;
    min-height: 0px;
    min-width: 0px;
    padding: 0px;
    position: relative;
    z-index: 0;
    flex-grow: 1;
    min-height: 25px;
}

.banner-section {
    flex: 1 1 0%;
    max-width: 50vw;
    display: unset;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.image {
    display: block;
    position: absolute;
    inset: 0;
    width: 50vw;
    height: 100vw;
    object-fit: cover;
    object-position: center center;
}


/* RIGHT SIDE */

.right-section-container {
    display: flex;

    margin: 0px auto;
    box-sizing: border-box;
    flex-direction: column;
    width: 80vw;
    flex: 1 1 0%;
    padding-bottom: 10px;
    justify-content: center;
    min-height: 100vh;
    max-width: 430px;

    position: absolute;
    right: 200px;
}

.signUp-headline {
    width: 100%;
    margin: 0px 0px 36px;
    padding: 10px;
    text-align: center;
    position: relative;
    padding-top: 80px;
    flex-direction: column;
}

.picture-logo-container {
    position: relative;
}

.santaPuercaImg {
    height: 50px;
    width: 150px;
    object-fit: cover;
}

.image-caption {
    display: block;

    font-size: 25px;
    color: white;
    font-family: 'Rye', cursive;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.description {
    display: block;
    font-size: 20px;
    margin: 20px 0px 4px;
    position: relative;
    overflow: hidden;
}



/* form */

.signUp-container {
    flex: 1 1 0%;
    padding-bottom: 80px;
}

.signUp-panel-wrapper {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    min-width: 400px;
    max-width: 400px;
    margin: 0px auto;
    padding: 12px 0px 40px;

    background-color: rgb(255, 255, 255);
    border-radius: 32px;
    overflow: hidden;
    justify-content: flex-start;
}

.signUp-panel {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 100%;
    -moz-box-pack: center;
    justify-content: center;
}

.form {
    margin: 32px 32px 0px;
    min-height: 395px;
    display: block;
  }
  

  
.form-group {
    margin-top: 8px;
    margin-bottom: 24px;
    width: 100%;
    max-width: 100%;

    margin-top: 8px;
margin-bottom: 24px;
width: 100%;
max-width: 100%;
  }
  
.form-control {
    position: relative;
    width: inherit;
    min-width: inherit;
    max-width: inherit;
    border-radius: 4px;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-width: 1px;
    transition: border 300ms ease 0s;

}
  
label {
    color: black;
    font-size: 22px;

}

.input-checkbox {
    display: inline-block;
    line-height: 20px;
    cursor: pointer;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
    width: 20px;
    height: 20px;
    position: relative;

    flex-grow: 0;
    flex-shrink: 0;
}

/* buttons */
  
a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(190, 190, 190);
    text-decoration: none;
}

.button-container {
    margin: 0;
    padding: 0;
}

.submitBtn {
    padding: 0.75rem;
    display: block;
    width: 100%;
    border: 0px none;

    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5px;
    font-size: 1.25rem;
    text-align: center;
    background-color: white;
    color: black;

   
    border-radius: 3px;
    cursor: pointer;
    padding: 0.75rem 3rem;
    margin-top: 30px;
    transition: all 0.125s ease 0s;
}

.submitBtn:hover {
    color:white;
    background-color: rgb(56, 56, 56);
}

.logIn-text {
    text-align: center;
}

  /* MEDIA QUERY */

@media (min-width: 480px) {
    form {
      padding: 2.5rem;
    }
  }