/* LOGO FONT */ @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
/* BANNER FONT */ @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


html, body {     
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-size: 1.2rem;
    font-family: 'Oswald', sans-serif;
    color: white;
}

.mainDiv {
    display: flex;
    flex-direction: row;
    height: 100%;

    width: 100vw;
    flex: 1 1 0%;
}

.bannerImage {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}


.right-section-container {
    display: flex;
    flex-direction: column;
}

.title-header-container {
    margin: auto;
    width: 10%;
}

.title-logo-container {
    vertical-align: top;
    display: inline-block;
    justify-content: space-between;
    align-items: start;
    padding: 27px 0px;
    text-align: center;

    position: relative;
    top: -200px;
    left: 50px;
}

.title-logo-container > img {
    height: 50px;
    width: 150px;
    object-fit: cover;
}

.image-caption {
    display: block;

    font-size: 25px;
    color: white;
    font-family: 'Rye', cursive;
    text-transform: uppercase;
    letter-spacing: 10px;
}

a {
    color: white;
    text-decoration: underline;
}

a:hover {
    color: rgb(188, 188, 188);
    text-decoration: none;
}

