/* LOGO FONT */ @import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
/* BANNER FONT */ @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


html, body { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    overflow: hidden;

}

.mainDiv {
    flex-direction: column;
}

.left-section-container {


}

.left-section-banner {
  
}

.bannerImage-container {
  
}

.bannerImage {

}


.right-section-container {
    display: flex;
}



.title-header {
    font-family: 'Rye', cursive;
    text-transform: uppercase;
    letter-spacing: 0.8rem;

    color: white;
    font-size: 30px;
}